html {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 26px;
    color: white;
    background-image: url("../images/matrix-numbers.jpg");
}

#gridwrap {
    display: none;
    grid-template-rows: 1fr 3fr;
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "heading heading"
        "num stats";
}

#heading_area {
    grid-area: heading;
    margin: auto;
}

#num_area {
    grid-area: num;
}

#stats_area {
    grid-area: stats;
}

#errfield {
    color: red;
}

#userforms {
    display: grid;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "host host"
            "loginform registerform"
            "errfield errfield";
}

#hostcontainer {
    margin: auto;
    grid-area: host;
}

#loginform {
    grid-area: loginform;
}

#registerform {
    grid-area: registerform;
}

#errfield {
    grid-area: errfield;
}


